<section class="inner-top-banner">
  <div class="container">
    <div class="col-lg-12">
          <h1 class="inner-h1">JOB LISTINGS</h1>  
        </div>      
    </div>  
</section>

        <!-- Second Navbar -->
<nav class="navbar navbar-default" id="subnav"></nav>

       

        <!-- clients Section -->
        <section id="clients" class="bg-light-gray">
            <div class="container">
                <div class="row">
                  <div class="col-lg-6">
                        <h2 class="section-heading heading"><strong>Web Developer </strong> </h2>
                        <ul>
                          PWG Marketing are looking for a Web Developer to join our team! This is a remote position, and you'll need to provide your own computer, internet connection, and software to perform the job.
PWG Marketing are looking for someone with strong core skills as well as a willingness to roll up their sleeves and get done what needs to get done.
What they're looking for from you:
· A web/project portfolio that demonstrates your talent
· Ability to code in HTML, CSS, JavaScript, JQuery and PHP
· Knowledge of responsive design and best practices for desktop, tablet, and mobile devices
· Familiarity with hosting environments and code version control systems
· Optimization of sites for SEO, speed and overall performance
· QA testing, troubleshooting, and maintenance tasks
· Requirement gathering and communication skills
· A willingness to learn new tools, implement APIs to outside systems, and take on general tech troubleshooting tasks
· A positive attitude and the ability to solve problems
Required Experience:
· At least one year of full-time professional WordPress experience or equivalent Degree/Certificate
Bonus skill sets:
· Direct experience with marketing companies
· Conversion optimization
· Remote Experience
· 3rd party API integration
· DigitalOcean, Cloudways, cPanel, and Sentora
What you'll get from us:
· A competitive salary with paid time off
· A crucial role in a small, yet fun and rapidly growing environment
While they're willing to talk with everyone, they're mainly looking for freshers/college graduates looking to gain professional experience.
The position is a full-time 40 hour a week position, Monday-Friday. We operate from 8am-5pm US/Central time (GMT -6).
                         
                         
                        </ul>
                        </ul>
						<ul class="nav navbar-nav login-register-text">
							
						 <li><a ui-sref="taskerlogin"  ui-sref-active="active">Register as Freelancer</a></li>
						</ul>
                       
					</div>
                    <div class="col-lg-6 col-sm-12"></div>
                </div>
            </div>
        </section>
       
        <!-- Freelancer Section -->
<section id="freelancer" class="bg-light-gray"></section>

        
        </section>
		<footer>
