<footer>
    <div class="container">
        <div class="col-lg-3 col-sm-3 col-xs-6">
            <div class="footer-menu">
                <h6>USING TASKLANCE</h6>
                
                <a href="http://tasklance.com/browse-task">BROWSE TASKS</a>
                <!--<a href="#">BROWSE TALENT</a>-->
                <a href="/how-it-works">HOW IT WORKS</a>
              <!--  <a href="http://tasklance.com/taskers">OUR PROS</a>
                <a href="#">FAQ</a>
                <a href="#">BEST PRACTICES</a> -->
            </div>	
        </div>
        <div class="col-lg-3 col-sm-3 col-xs-6">
            <div class="footer-menu">
                <h6>COMPANY</h6>
               <!--  <a href="#">CAREERS</a> -->
                <a href="http://tasklanceinsights.com/" target="_blank">BLOG</a>
              <!--  <a href="http://blog.tasklance.com">BLOG</a> -->
               <!--  <a href="#">SUCCESS STORIES</a> -->
                <a href="/about-us">ABOUT US</a>
              <!--   <a href="#">OUR PARTNERS</a>
                <a href="#">REFERRAL PROGRAM</a>  -->
            </div>	
        </div>
        
        <div class="col-lg-3 col-sm-3 col-xs-6">
            <div class="footer-menu">
        <!--         <h6>REFERENCE</h6>
                <a href="#">TERMS OF USE</a>
                <a href="#">PRIVACY POLICY</a>
                <a href="#">RESOURCES</a>
                <a href="#">INDEX</a>  -->
             </div>
          
        </div>
        <div class="col-lg-3 col-sm-3 col-xs-6">
            <a target="_blank" href="https://www.facebook.com/tasklance/" class="margin-right10" title="Facebook"><i class="tl-sprite-new fb-icon"></i></a>
            <a target="_blank" href="https://twitter.com/TheTaskLance" class="margin-right10" title="Twitter"><i class="tl-sprite-new tw-icon"></i></a>
            <a target="_blank" href="https://plus.google.com/s/tasklance" class="margin-right10" title="Google+"><i class="tl-sprite-new gplus-icon"></i></a>
            <a target="_blank" href="https://www.linkedin.com/company/tasklance/" class="margin-right10" title="LinkedIn"><i class="tl-sprite-new lin-icon"></i></a>
            <div class="clearfix"></div>
            <div class="font12 margin-top15 footer-menu">
                <p>EMAIL: <a href="mailto:avishkar@tasklance.com" class="inline">avishkar@tasklance.com</a></p>
                <p>© 2017 Copyright TaskLance</p>
            </div>            
        </div>
    </div>
</footer>

<!-- Chat window code hide for timg being...
    
<div class="chat-container">
    <div class="chat-header" id="chatToggle">
        <span class="tl-sprite-new chat-icon margin-right10"></span>
        <span>Post a Task for 15 mins free assistance</span>        
    </div>
    <div class="clearfix"></div>
    <div class="chat-body">
        <div class="chat-content">
            Hi...
        </div>
        <input type="text" id="chatInput" placeholder="Type something...">
    </div>
</div> -->
