<section class="hp-banner-container"> <!-- hp banner code starts here -->
    <div class="hp-banner"></div>
    <div class="container">
        <div class="col-lg-12">
            <div class="welcome-text">
               <!--  <h1>Post a Task and start with managed leadership</h1> -->
                     <h1>Post a Task and choose from carefully vetted Taskers              
                     <p>Curated network of premium talent with experienced leaders </p>
                <a ui-sref="post-task"  class="btn btn-blue margin-top50">Post a Task</a>
            </div>
        </div>
    </div>    	
</section> <!-- hp banner code ends here -->

<section class="whats-is-tasklancer"> <!-- Experienced Talent code starts here -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="margin-top20">Experienced Talent perfect for your team</h2>
            </div>
            <div class="talent-section">
                  
                        <a ui-sref="browse-task-1({categoryId:10})">
                        <div class="col-lg-3 col-sm-3 col-xs-6">
                        <i class="tl-sprite-new software-icon"></i>
                        <p class="wrap-text">software development</p>
                    </div>
                </a>
                <a ui-sref="browse-task-1({categoryId:3})">
                    <div class="col-lg-3 col-sm-3 col-xs-6">
                        <i class="tl-sprite-new web-icon"></i>
                        <p class="wrap-text">Content Management Software</p>
                    </div>
                </a>
                <a ui-sref="browse-task-1({categoryId:12})">
                    <div class="col-lg-3 col-sm-3 col-xs-6">
                        <i class="tl-sprite-new database-icon"></i>
                        <p class="wrap-text">Database</p>
                    </div>
                </a>
                <a ui-sref="browse-task-1({categoryId:13})">
                    <div class="col-lg-3 col-sm-3 col-xs-6">
                        <i class="tl-sprite-new interface-icon"></i>
                        <p class="wrap-text">BI & Analytics</p>
                    </div>
                </a>
                <a ui-sref="browse-task-1({categoryId:1})">
                    <div class="col-lg-3 col-sm-3 col-xs-6">
                        <i class="tl-sprite-new soft-testing-icon"></i>
                        <p class="wrap-text">software testing</p>
                    </div>  
                </a>
                <a ui-sref="browse-task-1({categoryId:4})">
                    <div class="col-lg-3 col-sm-3 col-xs-6">
                        <i class="tl-sprite-new uiux-icon"></i>
                        <p class="wrap-text">ux ui</p>
                    </div>
                </a>
                <a ui-sref="browse-task-1({categoryId:11})">
                    <div class="col-lg-3 col-sm-3 col-xs-6">
                        <i class="tl-sprite-new mobile-icon"></i>
                        <p class="wrap-text">Mobile Development</p>
                    </div>
                </a>
                <a ui-sref="browse-task-1({categoryId:15})">
                    <div class="col-lg-3 col-sm-3 col-xs-6">
                        <i class="tl-sprite-new cloud-icon"></i>
                        <p class="wrap-text">Cloud and Distributed Computing</p>
                    </div>
                </a>                    </div>  
                </a>              
            </div>
            <div class="text-center">
                <a ui-sref="browse-task" class="btn btn-blue margin-top10 margin-bottom20">See All categories</a>
            </div>
        </div>
    </div>    	
</section><!-- Experienced Talent code ends here -->

<section class="light-blue-bg"><!-- How It Works code starts here -->
    <div class="container">
        <div class="col-lg-12 text-center">
            <h2 class="heading-h2 margin-top20">How TaskLance Experts accelerates your On-Demand Workforce</h2>
        </div>
        <div class="col-lg-3 col-sm-3 col-xs-6 hiw-section">
            <div class="hiw-pic-box">
                <span class="tl-sprite-new find-people-icon"></span>
            </div>
            <div class="hiw-container">
                <h4 class="hiw-title">Find(Zero Sourcing Time)</h4>
                <p class="hiw-desc">Post a job to tell us about your project. We'll quickly match you with the right Taskers.</p>
            </div>
        </div>
        <div class="col-lg-3 col-sm-3 col-xs-6 hiw-section">
            <div class="hiw-pic-box">
                <span class="tl-sprite-new hire-icon"></span>
            </div>
            <div class="hiw-container">
                <h4 class="hiw-title">Hire(90% Response rate)</h4>
                <p class="hiw-desc">Browse profiles, reviews and proposals and then interview and hire  top candidate  and begin your project.</p>
            </div>
        </div>
        <div class="col-lg-3 col-sm-3 col-xs-6 hiw-section">
            <div class="hiw-pic-box">
                <span class="tl-sprite-new work-icon"></span>
            </div>
            <div class="hiw-container">
                <h4 class="hiw-title">Work</h4>
                <p class="hiw-desc">Use the TaskLance platform to chat, share files, and collaborate from your desktop or on the go.</p>
            </div>
        </div>
        <div class="col-lg-3 col-sm-3 col-xs-6 hiw-section">
            <div class="hiw-pic-box">
                <span class="tl-sprite-new pay-icon"></span>
            </div>
            <div class="hiw-container">
                <h4 class="hiw-title">Pay(Success Based Pricing)</h4>
                <p class="hiw-desc">Invoicing and payments happen through TaskLance. With TaskLance Protection, only pay for work you authorize.</p>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="text-center">
            <a ui-sref="post-task" class="btn btn-blue margin-top10 margin-bottom20">Post Task</a>
        </div>
    </div>
</section><!-- How It Works code ends here -->

<section><!-- How It Works code starts here -->
    <div class="container">
        <div class="col-lg-12 text-center">
            <h2 class="heading-h2 margin-top20">Meet a few of our TaskLancers</h2>
        </div>
        <section class="col-lg-12 homeCarousel slider" ng-controller="homeCarousel">
          <div>
            <div class="slide-width">
                <div class="slide-img-box">
                    <div class="onHover-data">
                        <div class="icon-indent margin-top40">
                            <span class="tl-sprite-new designation-icon"></span>
                            <span class="freelancer-title">Ex Accenture</span>
                        </div>
                        <div class="icon-indent">
                            <span class="tl-sprite-new experience-icon"></span>
                            <span class="freelancer-title">25+ Years Business Analyst</span>
                        </div>
                    </div>
                    <img src="../images/freelancer-yatish01.jpg">
                </div>
                <h6>Datta Kulkarni</h6>
                <p>Business Analyst</p>
                <div>
                    <span class="tl-sprite-new star-sm-filled"></span>
                    <span class="tl-sprite-new star-sm-filled"></span>
                    <span class="tl-sprite-new star-sm-filled"></span>
                    <span class="tl-sprite-new star-sm-filled"></span>
                    <span class="tl-sprite-new star-sm-empty"></span>
                </div>
            </div>
          </div>

          <div>
            <div class="slide-width">
                <div class="slide-img-box">
                    <div class="onHover-data">
                        <div class="icon-indent margin-top40">
                            <span class="tl-sprite-new designation-icon"></span>
                            <span class="freelancer-title">Last mile connectivity with Rural India</span>
                        </div>
                        <div class="icon-indent">
                            <span class="tl-sprite-new experience-icon"></span>
                            <span class="freelancer-title">Business reach to Masses.</span>
                        </div>
                    </div>
                    <img src="../images/ETIIogo.png">
                </div>
                <h6>ETI info systems</h6>
                <p>Supply Chain Management</p>
                <div>
                    <span class="tl-sprite-new star-sm-filled"></span>
                    <span class="tl-sprite-new star-sm-filled"></span>
                    <span class="tl-sprite-new star-sm-filled"></span>
                    <span class="tl-sprite-new star-sm-filled"></span>
                    <span class="tl-sprite-new star-sm-filled"></span>
                </div>
            </div>
          </div>

          <div>
            <div class="slide-width">
                <div class="slide-img-box">
                    <div class="onHover-data">
                        <div class="icon-indent margin-top40">
                            <span class="tl-sprite-new designation-icon"></span>
                            <span class="freelancer-title">One stop solution for all you QA needs</span>
                        </div>
                        <div class="icon-indent">
                            <span class="tl-sprite-new experience-icon"></span>
                            <span class="freelancer-title">Test Automation,Performance Testing,Mobile and manual testing</span>
                        </div>
                    </div>
                    <img src="../images/QAShack.png">
                </div>
                <h6>QAShack</h6>
                <p>Software Testing</p>
                <div>
                    <span class="tl-sprite-new star-sm-filled"></span>
                    <span class="tl-sprite-new star-sm-filled"></span>
                    <span class="tl-sprite-new star-sm-filled"></span>
                    <span class="tl-sprite-new star-sm-filled"></span>
                    <span class="tl-sprite-new star-sm-half"></span>
                </div>
            </div>
          </div>

         
          <div>
            <div class="slide-width">
                <div class="slide-img-box">
                    <div class="onHover-data">
                        <div class="icon-indent margin-top40">
                            <span class="tl-sprite-new designation-icon"></span>
                            <span class="freelancer-title">Test Analyst</span>
                        </div>
                        <div class="icon-indent">
                            <span class="tl-sprite-new experience-icon"></span>
                            <span class="freelancer-title">2+ Years in Testing</span>
                        </div>
                    </div>
                    <img src="../images/Priyanka.png">
                </div>
                <h6>Priyanka Dobhal</h6>
                <p>Test Analyst</p>
                <div>
                    <span class="tl-sprite-new star-sm-filled"></span>
                    <span class="tl-sprite-new star-sm-filled"></span>
                    <span class="tl-sprite-new star-sm-filled"></span>
                    <span class="tl-sprite-new star-sm-half"></span>
                    <span class="tl-sprite-new star-sm-empty"></span>
                </div>
            </div>
          </div>


          <div>
            <div class="slide-width">
                <div class="slide-img-box">
                    <div class="onHover-data">
                        <div class="icon-indent margin-top40">
                            <span class="tl-sprite-new designation-icon"></span>
                            <span class="freelancer-title">An ideal partner for designing and implementing technology products faster.</span>
                        </div>
                        <div class="icon-indent">
                            <span class="tl-sprite-new experience-icon"></span>
                            <span class="freelancer-title">MobiNext has Software delivery centers presence across Pune and Mumbai.</span>
                        </div>
                    </div>
                    <img src="../images/MobiNext.png">
                </div>
                <h6>MobiNext Technologies</h6>
                <p>Technology Expertise</p>
                <div>
                    <span class="tl-sprite-new star-sm-filled"></span>
                    <span class="tl-sprite-new star-sm-filled"></span>
                    <span class="tl-sprite-new star-sm-filled"></span>
                    <span class="tl-sprite-new star-sm-half"></span>
                    <span class="tl-sprite-new star-sm-empty"></span>
                </div>
            </div>
          </div>
        

                 
                       
                     
          <div>
            <div class="slide-width">
                <div class="slide-img-box">
                    <div class="onHover-data">
                        <div class="icon-indent margin-top40">
                            <span class="tl-sprite-new designation-icon"></span>
                            <span class="freelancer-title">PHP Expert</span>
                        </div>
                        <div class="icon-indent">
                            <span class="tl-sprite-new experience-icon"></span>
                            <span class="freelancer-title">5+ Years PHP,MySQL</span>
                        </div>
                    </div>
                    <img src="../images/freelancer-sweta.png">
                </div>
                <h6>Sweta Pushpam</h6>
                <p>PHP Developer</p>
                <div>
                    <span class="tl-sprite-new star-sm-filled"></span>
                    <span class="tl-sprite-new star-sm-filled"></span>
                    <span class="tl-sprite-new star-sm-filled"></span>
                    <span class="tl-sprite-new star-sm-filled"></span>
                    <span class="tl-sprite-new star-sm-half"></span>
                </div>
            </div>
          </div>

          <div>
            <div class="slide-width">
                <div class="slide-img-box">
                    <div class="onHover-data">
                        <div class="icon-indent margin-top40">
                            <span class="tl-sprite-new designation-icon"></span>
                            <span class="freelancer-title">Ex Cox & Kings</span>
                        </div>
                        <div class="icon-indent">
                            <span class="tl-sprite-new experience-icon"></span>
                            <span class="freelancer-title">20+ Business Development,Software Consultancy,MIS</span>
                        </div>
                    </div>
                    <img src="../images/freelancer-sandeep.jpg">
                </div>
                <h6>Sandeep Jadhav</h6>
                <p>Strategic Consulting</p>
                <div>
                    <span class="tl-sprite-new star-sm-filled"></span>
                    <span class="tl-sprite-new star-sm-filled"></span>
                    <span class="tl-sprite-new star-sm-filled"></span>
                    <span class="tl-sprite-new star-sm-filled"></span>
                    <span class="tl-sprite-new star-sm-filled"></span>
                </div>
            </div>
          </div>

          <div>
            <div class="slide-width">
                <div class="slide-img-box">
                    <div class="onHover-data">
                        <div class="icon-indent margin-top40">
                            <span class="tl-sprite-new designation-icon"></span>
                            <span class="freelancer-title">Management services for Business growth</span>
                        </div>
                        <div class="icon-indent">
                            <span class="tl-sprite-new experience-icon"></span>
                            <span class="freelancer-title">Platform to empower technology and entrepreneur skills.</span>
                        </div>
                    </div>
                    <img src="../images/etimartlogo.png">
                </div>
                <h6>etiMart</h6>
                <p>Management Services for Business</p>
                <div>
                    <span class="tl-sprite-new star-sm-filled"></span>
                    <span class="tl-sprite-new star-sm-filled"></span>
                    <span class="tl-sprite-new star-sm-filled"></span>
                    <span class="tl-sprite-new star-sm-filled"></span>
                    <span class="tl-sprite-new star-sm-filled"></span>
                </div>
            </div>
          </div>

          <div>
            <div class="slide-width">
                <div class="slide-img-box">
                    <div class="onHover-data">
                        <div class="icon-indent margin-top40">
                            <span class="tl-sprite-new designation-icon"></span>
                            <span class="freelancer-title">Technical Architect</span>
                        </div>
                        <div class="icon-indent">
                            <span class="tl-sprite-new experience-icon"></span>
                            <span class="freelancer-title">4+ Years,Software Development</span>
                        </div>
                    </div>
                    <img src="../images/Abhishek.png">
                </div>
                <h6>Abhishek Fulzele</h6>
                <p>Technical Architect</p>
                <div>
                    <span class="tl-sprite-new star-sm-filled"></span>
                    <span class="tl-sprite-new star-sm-filled"></span>
                    <span class="tl-sprite-new star-sm-filled"></span>
                    <span class="tl-sprite-new star-sm-filled"></span>
                    <span class="tl-sprite-new star-sm-empty"></span>
                </div>
            </div>
          </div>

          <div>
            <div class="slide-width">
                <div class="slide-img-box">
                    <div class="onHover-data">
                        <div class="icon-indent margin-top40">
                            <span class="tl-sprite-new designation-icon"></span>
                            <span class="freelancer-title">Off-shore and on-shore Software projects</span>
                        </div>
                        <div class="icon-indent">
                            <span class="tl-sprite-new experience-icon"></span>
                            <span class="freelancer-title">20 People strong team in Microsoft .NET technology </span>
                        </div>
                    </div>
                    <img src="../images/gtcLogo3.png">
                </div>
                <h6>Guru Technologies</h6>
                <p>Software Development(ERP)</p>
                <div>
                    <span class="tl-sprite-new star-sm-filled"></span>
                    <span class="tl-sprite-new star-sm-filled"></span>
                    <span class="tl-sprite-new star-sm-filled"></span>
                    <span class="tl-sprite-new star-sm-half"></span>
                    <span class="tl-sprite-new star-sm-empty"></span>
                </div>
            </div>
          </div>

          <div>
            <div class="slide-width">
                <div class="slide-img-box">
                    <div class="onHover-data">
                        <div class="icon-indent margin-top40">
                            <span class="tl-sprite-new designation-icon"></span>
                            <span class="freelancer-title">Ex Team Lead Software Testing</span>
                        </div>
                        <div class="icon-indent">
                            <span class="tl-sprite-new experience-icon"></span>
                            <span class="freelancer-title">10+ Years Software Testing</span>
                        </div>
                    </div>
                    <img src="../images/freelancer-shraddha.jpg">
                </div>
                <h6>Shradhha Goel</h6>
                <p>Software Testing</p>
                <div>
                    <span class="tl-sprite-new star-sm-filled"></span>
                    <span class="tl-sprite-new star-sm-filled"></span>
                    <span class="tl-sprite-new star-sm-filled"></span>
                    <span class="tl-sprite-new star-sm-filled"></span>
                    <span class="tl-sprite-new star-sm-half"></span>
                </div>
            </div>
          </div>

          <div>
                <div class="slide-width">
                    <div class="slide-img-box">
                        <div class="onHover-data">
                            <div class="icon-indent margin-top40">
                                <span class="tl-sprite-new designation-icon"></span>
                                <span class="freelancer-title">10+ Highly skilled Software Experts team</span>
                            </div>
                            <div class="icon-indent">
                                <span class="tl-sprite-new experience-icon"></span>
                                <span class="freelancer-title">Open Source software development, Mobile application development</span>
                            </div>
                        </div>
                        <img src="../images/infoz_logo.jpg">
                    </div>
                    <h6>Infoz</h6>
                    <p>Software & Mobile Development</p>
                    <div>
                        <span class="tl-sprite-new star-sm-filled"></span>
                        <span class="tl-sprite-new star-sm-filled"></span>
                        <span class="tl-sprite-new star-sm-filled"></span>
                        <span class="tl-sprite-new star-sm-filled"></span>
                        <span class="tl-sprite-new star-sm-half"></span>
                    </div>
                </div>
              </div>

          <div>
            <div class="slide-width">
                <div class="slide-img-box">
                    <div class="onHover-data">
                        <div class="icon-indent margin-top40">
                            <span class="tl-sprite-new designation-icon"></span>
                            <span class="freelancer-title">With 250+ professionals/engineers</span>
                        </div>
                        <div class="icon-indent">
                            <span class="tl-sprite-new experience-icon"></span>
                            <span class="freelancer-title">Expertise in Software Development,BI, Analytics,Big Data and Infrastructure Management.
</span>
                        </div>
                    </div>
                    <img src="../images/homepagefreelancers/PragStackLogo.png">
                </div>
                <h6>PragStack Technologies</h6>
                <p>Custom Software Development</p>
                <div>
                    <span class="tl-sprite-new star-sm-filled"></span>
                    <span class="tl-sprite-new star-sm-filled"></span>
                    <span class="tl-sprite-new star-sm-filled"></span>
                    <span class="tl-sprite-new star-sm-filled"></span>
                    <span class="tl-sprite-new star-sm-empty"></span>
                </div>
            </div>
          </div>
        </section>
        <div class="clearfix"></div>
        <div class="text-center">
            <a href="http://tasklance.com/post-task" class="btn btn-blue margin-top30 margin-bottom20">Hire TaskLancer</a>
        </div>
    </div>
</section><!-- How It Works code ends here -->

<section class="blue-bg text-center"><!-- TL highlighter points code starts here -->
    <div class="container">
        <div class="col-lg-4 col-sm-4 margin-top40 margin-bottom40">
            <h4 class="tl-highligher-title">INR 25L +</h4>
            <p class="tl-highligher-desc">IN POSTED TASKS</p>
        </div>
        <div class="col-lg-4 col-sm-4 margin-top40 margin-bottom40">
            <h4 class="tl-highligher-title">100+ Companies </h4>
            <p class="tl-highligher-desc">HIRING ON TASKLANCE</p>
        </div>
        <div class="col-lg-4 col-sm-4 margin-top40 margin-bottom40">
            <h4 class="tl-highligher-title">4.8
                <span class="tl-sprite-new star-lg-empty"></span>
                <span class="tl-sprite-new star-lg-empty"></span>
                <span class="tl-sprite-new star-lg-empty"></span>
                <span class="tl-sprite-new star-lg-empty"></span>
                <span class="tl-sprite-new star-lg-half"></span>
            </h4>
            <p class="tl-highligher-desc">AVERAGE RATING OUT OF 5 STARS</p>
        </div>
    </div>
</section><!-- TL highlighter points code ends here -->

<section class="light-blue-bg"><!-- Why Use TaskLance code starts here -->
    <div class="container">
        <div class="col-lg-12 text-center">
            <h2 class="heading-h2 margin-top20">Why Use TaskLance?</h2>
        </div>
        <div class="col-lg-6 col-sm-12 margin-bottom30 client-v-line">
            <p class="font20 text-uppercase">Trusted by the most prominent names</p>
            <div class="col-lg-4 col-sm-4 margin-bottom20">
                <img src="images/client-autocar.jpg" alt="Autocar" class="margin-top30">
                <p class="margin-top10">
                    <strong>Autocar:</strong> TaskLance helped Autocar in connecting project based resources in implementing Business Intelligence applications, Software Testing and software development modules.
                </p>
            </div>
            <div class="col-lg-4 col-sm-4 margin-bottom20">
                <img src="images/Client-imperial_logo.png" alt="Imperial Clinics" class="margin-top30"> 
                <p class="margin-top10">
                    <strong>Imperial Clinics:</strong> TaskLance implemented Lead scoring for Imperial Clinics to increase patient enrollment rates and modify website to improve its organic traffic.
                </p>
            </div>
            <div class="col-lg-4 col-sm-4 margin-bottom20">
                <img src="images/Client-Kredence.png" alt="Kredence" class="margin-top30">
                <p class="margin-top10">
                    <strong>Kredence:</strong> Kredence is a cloud-based solutions and service company providing tax,compliance, financial and
                    legal solutions.TaskLance helped them in implementing GST solutions.
                </p>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12">
            <div class="margin-top40">
                <div class="col-lg-6 col-sm-6 margin-bottom20">
                    <div class="tl-flow">
                        <span class="tl-flow-icon-box">
                            <i class="tl-sprite-new plus-icon"></i>
                        </span>
                        <p class="font16 text-uppercase">Free to Post</p>
                        <p class="tl-flow-desc">It’s completely free to post a task, you’ll start receiving offers from TaskLance. There’s no hidden fees.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 margin-bottom20">
                    <div class="tl-flow">
                        <span class="tl-flow-icon-box">
                            <i class="tl-sprite-new affordable-icon"></i>
                        </span>
                        <p class="font16 text-uppercase">Affordable</p>
                        <p class="tl-flow-desc">Rates 50% cheaper than big consulting companies.</p>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-6 col-sm-6 margin-bottom20">
                    <div class="tl-flow">
                        <span class="tl-flow-icon-box">
                            <i class="tl-sprite-new ur-control-icon"></i>
                        </span>
                        <p class="font16 text-uppercase">You’re in control</p>
                        <p class="tl-flow-desc">Receive multiple offers, and then you decide which FreeLancer you’d like to complete your task.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 margin-bottom20">
                    <div class="tl-flow">
                        <span class="tl-flow-icon-box">
                            <i class="tl-sprite-new per-assist-icon"></i>
                        </span>
                        <p class="font16 text-uppercase">Personalised assistance</p>
                        <p class="tl-flow-desc">Read verified reviews to make sure you hire the best person for the job.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- Why Use TaskLance code ends here -->


<section class="blue-bg"><!-- Hire Flexibly code starts here -->
    <div class="container">
        <div class="col-lg-12 text-center">
            <h2 class="heading-h2 margin-top20 text-white">Hire Flexibly</h2>
            <p class="text-white font16">Hire top talent via flexible hourly contracts, or bring them on full time!</p>
        </div>
        <div class="col-lg-5 col-sm-5 col-md-offset-1 col-sm-offset-1">
            <div class="margin-bottom20 light-blue-bg padding-top30 padding-bottom30">
                <ul class="ul-normal hire-flexy-points">
                    <li><span class="tl-sprite-new flex-time-icon-1"></span> Flexible hourly relationship, structured as needed</li>
                    <li><span class="tl-sprite-new flex-time-icon-2"></span> Rates from INR 400-2000/hour, 50% less than consulting and staffing firms. Convert to full-time anytime.</li>
                    <li><span class="tl-sprite-new flex-time-icon-3"></span> Easy, secure payments with any credit card or bank account</li>
                </ul>
                <div class="text-center">
                    <a ui-sref="post-task" class="btn btn-blue">POST A CONTRACT ROLE</a>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-sm-5">
            <div class="margin-bottom20 light-blue-bg padding-top30 padding-bottom30">
                <ul class="ul-normal hire-flexy-points">
                    <li><span class="tl-sprite-new flex-time-icon-4"></span> Top candidates available on-site in local geographies</li>
                    <li><span class="tl-sprite-new flex-time-icon-5"></span> 75%+ discount to traditional recruiters' fees</li>
                    <li><span class="tl-sprite-new flex-time-icon-6"></span> All applicants for full-time roles are vetted by TaskLancers team for quality and fit</li>
                </ul>
                <div class="text-center">
                    <a ui-sref="post-task" class="btn btn-blue">POST A FULL-TIME ROLE</a>
                </div>
            </div>
        </div>
    </div>
</section><!-- Hire Flexibly code ends here -->

<section class="light-blue-bg"><!-- Featured Blog Articles code starts here -->
    <div class="container">
        <div class="col-lg-12 text-center">
            <h2 class="heading-h2 margin-top20">Featured Blog Articles</h2>
        </div>
        <div class="col-lg-4 col-sm-4">
            <div class="text-center margin-bottom30">
                <a href="http://tasklanceinsights.com/?p=7" target="_blank"><img src="images/blog-pic-01.jpg"  alt=""></a>
                <p class="font12 margin-top15"><a href="http://tasklanceinsights.com/?p=7" target="_blank">How to Allow MySQL Remote Access in<br> Ubuntu Server 16.04 on AWS</a></p>
            </div>
        </div>
        <div class="col-lg-4 col-sm-4">
            <div class="text-center margin-bottom30">
                <a href="http://tasklanceinsights.com/?p=69" target="_blank"><img src="images/blog-pic-02.jpg"  alt=""></a>
                <p class="font12 margin-top15"><a href="http://tasklanceinsights.com/?p=69" target="_blank">Storing Log Data using <br>MongoDB</a></p>
            </div>
        </div>
        <div class="col-lg-4 col-sm-4">
            <div class="text-center margin-bottom30">
                <a href="http://tasklanceinsights.com/?p=121" target="_blank" ><img src="images/blog-pic-03.jpg" target="_blank" alt=""></a>
                <p class="font12 margin-top15"><a href="http://tasklanceinsights.com/?p=121" target="_blank">Troubleshooting Deadlocks in<br>Microsoft SQL Server</a></p>
            </div>
        </div>
        <div class="col-lg-12 text-center margin-bottom20">
            <a href="http://tasklanceinsights.com/" class="btn btn-blue" target="_blank">Browse All Blogs</a>
        </div>
    </div>
</section><!-- Featured Blog Articles code ends here -->


