<div class="container">	
    <div class="content-container content-space10 margin-bottom20">
        <div ng-controller="TabsDemoCtrl">
        	<div class="col-lg-6 col-md-6 margin-bottom30">
                <uib-tabset active="profileViewTabs">
                    <uib-tab index="0" heading="In Progress Tasks">
                    	
                        <div class="content-container content-space10">
                        	
                            <div class="col-lg-6 col-sm-6">
                                <h5 class="text-blue">Write a HTML page</h5>
                                <div class="margin-bottom10">
                                    <i class="fa fa-map-marker"></i>
                                    <span>Mumbai - Maharashtra</span>
                                </div>
                                <p>Overdue</p>
                                
                                <span>4 Offer</span>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <p>21 days ago</p>
                                
                                <a ui-sref="my-task-brief" class="btn btn-blue btn-blue-2x">View</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </uib-tab>
                    <uib-tab index="1" heading="Completed Tasks">
                        <div class="content-container content-space10 margin-top15">
                        	
                            <div class="col-lg-6 col-sm-6">
                                <h5 class="text-blue">Write a HTML page</h5>
                                <div class="margin-bottom10">
                                    <i class="fa fa-map-marker"></i>
                                    <span>Mumbai - Maharashtra</span>
                                </div>
                                <p>Overdue</p>
                               
                                <span>4 Offer</span>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <p>21 days ago</p>
                               
                                <a ui-sref="my-task-brief" class="btn btn-blue btn-blue-2x">View</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </uib-tab>
                </uib-tabset>
        	</div>
            <div class="col-lg-6 col-md-6">
            	<div class="content-container content-space10 margin-bottom20">
                    
                    <div class="col-lg-5 col-sm-5">
                        <h5 class="text-blue">Write a HTML page</h5>
                        
                        <p>8 Offers</p>
                        <p>21 days ago</p>
                        <p>Overdue</p>
                        <i class="fa fa-flag font12"></i>
                    </div>
                    <div class="col-lg-3 col-sm-3">
                        <p>Modify Task Status</p>
                        
                        <a ui-sref="#" class="btn btn-blue btn-blue-1x">Update Task</a>
                    </div>
                    <div class="clearfix"></div>
				</div>
                <uib-tabset active="myTaskViewTabs">
                    <uib-tab index="0" heading="Discription">
                    	<div class="content-container content-space10 margin-top15 margin-bottom20">
                        	<h5 class="text-blue"><i class="fa fa-file-text"></i> Task Discription</h5>
	                        <p>Write a HTML page  for the API written by my programmers.</p>
                        </div>
                    </uib-tab>
                    <uib-tab index="1" heading="Offers">
                        <div class="content-container content-space10 margin-top15">
                        	<div class="col-lg-1 col-sm-1 alpha">
                                <div class="profile-view margin-top5">
                                    <img src="../images/profile-pic.png" class="">
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                               
                                <a ui-sref="http://tasklance.com/profile/31"  class="btn btn-blue btn-blue-2x">Naruttam Borah</a>
  
                                <div class="margin-bottom5">
                                    <span class="rating-star-box">
                                        <span class="star star-full"></span>
                                        <span class="star star-full"></span>
                                        <span class="star star-full"></span>
                                        <span class="star star-half"></span>
                                        <span class="star star-empty"></span>
                                    </span>
                                </div>
                                <p class="font12">21 days ago</p>    
                                <p class="font12">Estimated Cost: 25000</p>                             
                            </div>
                            <div class="col-lg-3 col-sm-3 omega">
                               
                                    <a href="#" class="btn btn-success margin-bottom5 margin-right20">Assign</a>
                                    
                                </div>
                            
                            <div class="clearfix"></div>
                        </div>
                        <div class="content-container content-space10 margin-top15">
                        	<div class="col-lg-1 col-sm-1 alpha">
                                <div class="profile-view margin-top5">
                                    <img src="../images/profile-pic.png" class="">
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                    <a ui-sref="http://tasklance.com/profile/31"  class="btn btn-blue btn-blue-2x">Naruttam Borah</a>
  
                                <div class="margin-bottom5">
                                    <span class="rating-star-box">
                                        <span class="star star-full"></span>
                                        <span class="star star-full"></span>
                                        <span class="star star-full"></span>
                                        <span class="star star-half"></span>
                                        <span class="star star-empty"></span>
                                    </span>
                                </div>
                                <p class="font12">21 days ago</p>  
                                <p class="font12">Estimated Cost: 25000</p>                               
                            </div>
                           
                            <div class="col-lg-3 col-sm-3 omega">
                               
                            	<a href="#" class="btn btn-success margin-bottom5 margin-right10">Assign</a>
                                
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="content-container content-space10 margin-top15">
                        	<div class="col-lg-1 col-sm-1 alpha">
                                <div class="profile-view margin-top5">
                                    <img src="../images/profile-pic.png" class="">
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                    <a ui-sref="http://tasklance.com/profile/31"  class="btn btn-blue btn-blue-1x">Naruttam Borah</a>
                                <div class="margin-bottom5">
                                    <span class="rating-star-box">
                                        <span class="star star-full"></span>
                                        <span class="star star-full"></span>
                                        <span class="star star-full"></span>
                                        <span class="star star-half"></span>
                                        <span class="star star-empty"></span>
                                    </span>
                                </div>
                                <p class="font12">21 days ago</p>                                
                            </div>
                            
                            <div class="col-lg-3 col-sm-3 omega">
                                    
                                    <a href="#" class="btn btn-success margin-bottom5">Invite</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
            <div class="clearfix"></div>
		</div>
    </div>
</div>

