<div class="container">
	
    <div class="content-container content-space10 margin-bottom20">
        <div ng-controller="TabsDemoCtrl">
        	<div class="col-lg-6 col-md-6 margin-bottom30">
                <uib-tabset active="profileViewTabs">
                    <uib-tab index="0" heading="Completed Tasks">
                    	
                        <div class="content-container content-space10">
                        	
                            <div class="col-lg-6 col-sm-6">
                                <h5 class="text-blue">Write a HTML page</h5>
                                <div class="margin-bottom10">
                                    <i class="fa fa-map-marker"></i>
                                    <span>Mumbai - Maharashtra</span>
                                </div>
                              
                             
                                <span>8 Offer</span>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <p>4 days ago</p>
                                
                                <a ui-sref="my-task-brief" class="btn btn-blue btn-blue-2x">Review </a>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="content-container content-space10">
                        	
                            <div class="col-lg-6 col-sm-6">
                                <h5 class="text-blue">Design Homepage </h5>
                                <div class="margin-bottom10">
                                    <i class="fa fa-map-marker"></i>
                                    <span>Mumbai - Maharashtra</span>
                                </div>
                                <p>Overdue</p>
                                
                                <span>4 Offer</span>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <p>1 days ago</p>
                                
                                <a ui-sref="my-task-brief" class="btn btn-blue btn-blue-2x">Review</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                    </uib-tab>
                    <uib-tab index="1" heading="In Progress Tasks">
                        <div class="content-container content-space10 margin-top15">
                        	<div class="col-lg-2 col-sm-2 alpha">
                                <div class="profile-view">
                                    <img src="../images/profile-pic.png" class="">
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <h5 class="text-blue">Database Migration</h5>
                                <div class="margin-bottom10">
                                    <i class="fa fa-map-marker"></i>
                                    <span>Pune - Maharashtra</span>
                                </div>
                                <p>Overdue</p>
                                
                                <span> Offer</span>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <p>10 days ago</p>
                                
                                <a ui-sref="#" class="btn btn-blue btn-blue-2x">View</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </uib-tab>
                </uib-tabset>
        	</div>
            <div class="col-lg-6 col-md-6">
            
            <div class="clearfix"></div>
		</div>
    </div>
</div>

