<meta name="description" content="The #1 marketplace for on demand job.  
Post a Task and choose from carefully vetted pool of Software Developers, Testing,Database,BI,Analytics, Big Data experts,UI/UX & more!" />
<meta name="keywords" content="On Demand Experts" />
<meta property="fb:app_id" content="51230776953" />
<meta property="og:url" content="https://tasklance.com/" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="tasklance" />

<ul class="nav navbar-nav">
    <li><a ui-sref="post-task"  ui-sref-active="active" class="post-task-text">Post A Task</a></li>
    <li><a ui-sref="browse-task" ui-sref-active="active">Browse Tasks</a></li> 
    <li><a ui-sref="taskerlogin"  ui-sref-active="active">Talent Network</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
 <!-- <li><a ui-sref="pricing" ui-sref-active="active">Pricing</a></li>
 -->    <li><a href="http://tasklanceinsights.com/" target="_blank">Blog</a></li>
    <li>
        <li><a ui-sref="login"  ui-sref-active="active">Client Login</a></li>

    </li>
    <li>
        <a>
            <span class="login-box">
                <img src="images/default-profile-pic2.png">
                <i class="fa fa-caret-down"></i>
            </span>
        </a>
    </li> 
</ul>
