<meta name="description" content="Join TaskLance and Start earning in 2 steps" />
<meta name="keywords" content="Empowerment of differently-abled" />
<meta property="fb:app_id" content="51230776953" />
<meta property="og:url" content="https://tasklance.com/" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="tasklance" />

<header>
            <div class="container">
                <div class="row">
                  <div class="col-lg-6">
                      <div class="container">
                        <div class="col-lg-12">
                          <div class="welcome-text">
                            <div><a ng-href="#/taskerlogin/" class="btn btn-default">Become a Freelancer</a></div>
                            <p class="text-small">Earn 5000/-  per week completing tasks, <br />
                              join TaskLance and start earning today.
                           </p>
                          </div>
                        </div>
                      </div>
                     				  </div>
              </div>
            </div>


	                <div class="row text-center">
	                    <div class="col-md-3 thumbnail">
	                        <span class="fa-stack fa-4x">
	                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
	                            <i class="fa fa-user fa-stack-1x fa-inverse"></i>	                        </span>
	                       <h4 class="service-heading"><span class="text-muted">Registration </h4>
	                        <p class="text-muted">Please fill  the  online registration form detailing your wducation,skills and experience  and wait for two working days to allow us to assess your employability.</p>
                      </div>
	                    <div class="col-md-3 thumbnail">
	                        <span class="fa-stack fa-4x">
	                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
	                            <i class="fa fa-clipboard fa-stack-1x fa-inverse"></i>	                        
								</span>
	                        <h4 class="service-heading"><span class="text-muted">Employability Assessment </h4>
	                        <p class="text-muted">Post registration, we shall  test your employability skills  by using TaskLance Employability Skill Test platform. </p>
                      </div>
					   <div class="col-md-3 thumbnail">
	                        <span class="fa-stack fa-4x">
	                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
	                            <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>	                        </span>
	                        <h4 class="service-heading"><span class="text-muted">Skill Development</span></h4>
	                        <p class="text-muted">We will recommend you appropriate skill development to ensure  job readiness and  talent matchmaking.</p>
                      </div>
	                    <div class="col-md-3 thumbnail">
	                        <span class="fa-stack fa-4x">
	                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
	                            <i class="fa fa-money fa-stack-1x fa-inverse"></i>	                        </span>
	                        <h4 class="service-heading"><span class="section-subheading text-muted" style="padding-bottom: 20px;">Start Earning</span></h4>
	                        <p class="text-muted">We offer you a unique opportunity to work from home and earn a corporate salary by utilising your time and skills.</p>
                      </div>
	                </div>
	                <div class="row">
	                	
	                </div>
				</div>
			</div>
		</header>
        <!-- Header -->

       

       
        
