<section class="inner-top-banner">
  <div class="container">
    <div class="col-lg-12">
          <h1 class="inner-h1">JOB LISTINGS</h1>  
        </div>      
    </div>  
</section>

        <!-- Second Navbar -->
<nav class="navbar navbar-default" id="subnav"></nav>

       

        <!-- clients Section -->
        <section id="clients" class="bg-light-gray">
            <div class="container">
                <div class="row">
                  <div class="col-lg-6">
                        <h2 class="section-heading heading"><strong>Data Entry</strong> </h2>
                        <ul>
                          <li>Correctly enter data from a spreadsheet into another platform/service.</li>
                         
                          <li>eCommerce Product Listing (Magento, Opencart, WordPress, &nbsp;Shopify, Your Own eCommerce Site)</li>
                          
                          <li>&nbsp;Scanned Pages to (Excel / Word)</li>
                         
                        </ul>
                        </ul>
						<ul class="nav navbar-nav login-register-text">
							<li><a ui-sref="post-task" ui-sref-active="active">Post a Task</a></li>
							<li class="sep">|</li>
						 <li><a ui-sref="taskerlogin"  ui-sref-active="active">Register as Freelancer</a></li>
						</ul>
                       
					</div>
                    <div class="col-lg-6 col-sm-12"></div>
                </div>
            </div>
        </section>
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <h2 class="section-heading heading"> <strong>Customer Service</strong></h2>
              <ul>
                <li>Attracts potential customers by answering product and service questions</li>
  
                <li>Maintains customer records by updating account information.</li>
                <li>Recommends potential products or services to management by collecting customer information and analyzing customer needs.</li>
                <li>Prepares product or service reports by collecting and analyzing customer information.</li>
                <li>Customer Service follow Up calls  for you and obtain the answer to one question from your clients</li>
                </ul>
              <ul class="nav navbar-nav login-register-text">
                <li><a ui-sref="post-task" ui-sref-active="active">Post a Task</a></li>
              <li class="sep">|</li>
             <li><a ui-sref="taskerlogin"  ui-sref-active="active">Register as Freelancer</a></li>
              </ul>
            </div>
            <div class="col-lg-6 col-sm-12"></div>
          </div>
        </div>
        <br>
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <h2 class="section-heading heading"> <strong>Desktop publishing (DTP)</strong></h2>
              <ul>
                <li>Formatting professional documents and creating graphics in a beautiful manner</li>
                <li>Create page layout design and implementation.</li>
                <li>Create eye-catching brochure or flier.</li>
                <li>Create a eBook or eMagazine</li>  
                
                </ul>
              <ul class="nav navbar-nav login-register-text">
                <li><a ui-sref="post-task" ui-sref-active="active">Post a Task</a></li>
              <li class="sep">|</li>
             <li><a ui-sref="taskerlogin"  ui-sref-active="active">Register as Freelancer</a></li>
              </ul>
            </div>
            <div class="col-lg-6 col-sm-12"></div>
          </div>
        </div>
        <BR>
        <br>

        <!-- Freelancer Section -->
<section id="freelancer" class="bg-light-gray"></section>

        
        </section>
		<footer>
