

   <section class="inner-top-banner">
	<div class="container">
		<div class="col-lg-12">
        	<h1 class="inner-h1">CSR Services  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				
				<a ui-sref="csrprojects" >Current Projects</a></h1>	
			
        </div>    	
    </div>	
</section>

<section class="whats-is-CSR"> <!-- whats-is-CSR code starts here -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-left">
                <h2>What is CSR?</h2>  
                <p>
                    The Companies Act, 2013 passed by the Indian Parliament in August, 2013 mandates companies of a particular size to invest 2% of their Net Profit in CSR (Corporate Social Responsibility) activities. <br>As per this Act, more than 22,000 companies will spend ~USD 3 billion annually on CSR activities, starting 1st April, 2014. This represents almost a 10x jump in CSR expenditure of companies, and they are struggling to effectively deploy this capital. 
                    <br><br><br>TaskLance is the leading platform of provides CSR consulting, planning and implementation 
					across industry sectors for PSUs, Private Sector and implementation partnerships for CSR across India with our network partners.
                </p></div> </div> </div></section>

    <div class="container">
               <!-- <div class="row"
                  <div class="col-lg-6">
                      <div class="container">  -->
                        
              </div>
            </div>


	                <div class="row text-center">
	                    <div class="col-md-3 thumbnail">
	                        <span class="fa-stack fa-4x">
	                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
	                            <i class="fa fa-user fa-stack-1x fa-inverse"></i>	                        </span>
	                            <h4 class="service-heading"><span class="text-muted">CONNECT </h4>
	                        <p class="text-muted">Please fill  the  online registration form to Connect stakeholders - Corporates, Implementation Partners and Beneficiaries</p>
                      </div>
	                    <div class="col-md-3 thumbnail">
	                        <span class="fa-stack fa-4x">
	                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
	                            <i class="fa fa-clipboard fa-stack-1x fa-inverse"></i>	                        
								</span>
	                        <h4 class="service-heading"><span class="text-muted">Design  </h4>
	                        <p class="text-muted">Collect data for Needs Assessment, Monitoring & Evaluation, Impact Assessment and Reporting </p>
                      </div>
					   <div class="col-md-3 thumbnail">
	                        <span class="fa-stack fa-4x">
	                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
	                            <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>	                        </span>
	                        <h4 class="service-heading"><span class="text-muted">Deliver </span></h4>
	                        <p class="text-muted">Measure performance and impact of projects on a real time basis and take informed decisions</p>
                      </div>
	                    <div class="col-md-3 thumbnail">
	                        <span class="fa-stack fa-4x">
	                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
	                            <i class="fa fa-money fa-stack-1x fa-inverse"></i>	                        </span>
	                        <h4 class="service-heading"><span class="section-subheading text-muted" style="padding-bottom: 20px;">COMMUNICATE </span></h4>

	                        <p class="text-muted">Generate insightful and actionable reports for stakeholders to enable strategic decision making</p>
                      </div>
	                </div>
	                <div class="row">
	                	
	                </div>
				</div>
			</div>
			<div class="col-lg-12"> 
                            <p class="text-small"><h2>Need strategic CSR  Consulting & Implementation partner ? </h2>
                           </p>
                            <div><a ng-href="#/taskerlogin/" class="btn btn-default"><b>Get in Touch</b></a></div>
                            
                 </div>
<BR>
	<BR>
		<BR>
			<BR>
	<BR>
		<BR>


     <section class="container">
	<div class="col-lg-12">
    	<p class="min-height"><b>TaskLance engages with companies to define their CSR strategy in the following ways: </b>
<br>
<br>•	Conceptualizing CSR strategy and defining CSR philosophy and objectives.
<br>•	Defining vision, mission and funding strategy of the foundation.
<br>•	Recommending causes or social initiatives that complement your corporate mandate.
<br>•	Conducting a stakeholder needs assessment and recommending initiatives that leverage your expertise and meet your stakeholder's expectations.
<br>•	Evaluating internal process and making recommendations to align them with your CSR objectives.
<br>
<br>
<br>
<br><b>The focus areas identified for  CSR initiatives are: </b>
<br>
<br>1. Education:
<br>•	Special attention on education, training and rehabilitation of mentally and physically challenged children/persons
<br>•	Supplement the different programs organised by local/state authorities
<br>
<br>2. Sports and culture:
<br>•	Providing facilities for physically disabled persons
<br>
<br>3. Partnerships with  NGOs:

<br>Partnerships with governments, NGOs, or other companies

</p>
    </div>

</section>
