<footer>
    <div class="container">
        <div class="col-lg-4 col-sm-4">
          <div class="footer-menu">
                <h3>Discover</h3>
                
                <a href="/how-it-works">How it Works</a>
                <a href="/csr">CSR Services</a> 
                <a href="#">Skills Tests</a>
                <!--<a href="#">FAQs</a> -->
            </div>	
        </div>
        <div class="col-lg-4 col-sm-4">
          <div class="footer-menu">
                <h3>Company</h3>
                <a href="/about-us">About Us</a>
                <a href="#">Terms & Conditions</a>
                <a href="http://blog.tasklance.com/">Blog</a>                
            </div>	
        </div>
        <div class="col-lg-4 col-sm-4">
            <h3 class="margin-bottom20">Connect Us</h3>
            <a href="https://www.facebook.com/TaskLance-316705048721579/" class="social-box" title="Facebook"><i class="tl-sprite fb-icon"></i></a>
            <a href="https://twitter.com/TheTaskLance" class="social-box" title="Twitter"><i class="tl-sprite tw-icon"></i></a>
            <a href="https://in.linkedin.com/in/avishkarmeshram" class="social-box" title="Linkedin"><i class="tl-sprite lin-icon"></i></a>
            <a href="https://plus.google.com/s/tasklance" class="social-box" title="Google+"><i class="tl-sprite gplus-icon"></i></a>
            <div class="clearfix"></div>
            <p class="margin-top30">© 2016 Copyright TaskLancer</p>
        </div>
    </div>
</footer>
