<section class="hp-banner-container"> <!-- hp banner code starts here -->

<meta name="description" content="The #1 freelancer  marketplace for on demand hourly part time job like  
Graphics Design, Web Design, Customer Support,Data Entry and DTP related tasks" />
<meta name="keywords" content="Empowerment of differently-abled freelancer" />
<meta property="fb:app_id" content="51230776953" />
<meta property="og:url" content="https://tasklance.com/" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="tasklance" />



    <div class="hp-banner"></div>
    <div class="container">
        <div class="col-lg-12">
            <div class="welcome-text">
                <h2>Post a Task and Work with <br>Most Productive Experts. </h2>
                <p class="text-small"><li> Small Businesses use TaskLance to turn their ideas into reality.
                <br>
                <li> Work-at-home jobs from website development,<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;data Entry, Homepage  design to Database migration. </p>
                <br><br><br>
                <div><a ui-sref="post-task" class="btn btn-default">Post a Task</a></div>
                <p class="text-small">Get Applicants, not Bids.</p>
                <p class="or-text">OR</p>
                <div><a ng-href="#/taskerlogin/" class="btn btn-default">Become a Freelancer</a></div>
                <p class="text-small">Join TaskLance and start earning today.</p>
            </div>
        </div>
    </div>    	
</section> <!-- hp banner code ends here -->
<section class="whats-is-tasklancer"> <!-- whats-is-tasklancer code starts here -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>What is TaskLance?</h2>
                <p>
                    TaskLance is Technology Platform for on demand small tasks to connect
                    highly specialized,flexible and <br>virtual workforce comprised of associates working remotely
                    with Companies  to outsource their work.
                    <br>This unique platform  provides Clients a cost-efficient solution to 
                    achieve and advance their business goals.<br>
                </p>
            </div>
            <div class="col-lg-4 col-sm-4 text-center margin-bottom25">
                <div class="step-1"><i class="glyphicon glyphicon-edit"></i></div>
                <p>Post a Task </p>
            </div>
            <div class="col-lg-4 col-sm-4 text-center margin-bottom25">
                <div class="step-2">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                 </div>
                <p>Select a Freelancer</p>
            </div>
            <div class="col-lg-4 col-sm-4 text-center margin-bottom25">
                <div class="step-3"><i class="glyphicon glyphicon-thumbs-up"></i></div>
                <p>Once task completed <br>Make payment</p>	
            </div>
        </div>
    </div>    
	
	<!--	
<section class="whats-is-tasklancer"> <!-- whats-is-tasklancer code starts here -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Benefits</h2>
          <p><br />
          </p>
        </div>
        <div class="col-lg-4 col-sm-4 text-center margin-bottom25">
          <div class="step-1"> <i class="fa fa-clipboard fa-stack-1x fa-inverse"></i></div>
          <p><strong>Diversity</strong></p>
          <p>Increases creativity and productivity, brings new knowledge skills, approaches, processes and solutions.</p>
        </div>
        <div class="col-lg-4 col-sm-4 text-center margin-bottom25">
          <div class="step-2"> <i class="glyphicon glyphicon-ok"></i> <i class="glyphicon glyphicon-list-alt"></i> </div>
          <p><strong>Productivity</strong></p>
          <p>We increase your opportunities to access more resources, and increase your professional capability and capacity.</p>
        </div>
        <div class="col-lg-4 col-sm-4 text-center margin-bottom25">
          <div class="step-3"> <i class="fa fa-money fa-stack-1x fa-inverse"></i></i></div>
          <p><strong>Cost Effective </strong></p>
          <p>Only pay when task is completed. </p>
        </div>
      </div>
    </div>
    -->
</section>



<!-- whats-is-tasklancer code ends here -->
<section class="recently-completed-tasks margin-top25"><!-- Recently Completed Tasks code starts here -->
    <div class="container">
        <div class="col-lg-12 text-center">
            <h2 class="heading-h2">Recently Completed Tasks</h2>
        </div>
        <div class="col-lg-4 col-sm-4">
            <div class="profile-pic-box">
                <span class="tl-sprite profile-pic"></span>
            </div>
            <div class="task-container">
                <h4 class="task-title">Data Entry Work</h4>
                <p class="task-desc">Extract information from websites.
                    <br>Uploading articles on to the CMS <br>
                Uploading product information. </p>
            </div>
        </div>
        <div class="col-lg-4 col-sm-4">
            <div class="profile-pic-box">
                <span class="tl-sprite3 profile-pic"></span>
            </div>
            <div class="task-container">
                <h4 class="task-title">Create Google Spreadsheet</h4>
                <p class="task-desc">Extract information about Potential <br>Customers
                    from PDF, word, excel files<br>
                and input into a Google Sheet. </p>
            </div>
        </div>
        <div class="col-lg-4 col-sm-4">
            <div class="profile-pic-box">
                <span class="tl-sprite2 profile-pic"></span>
            </div>
            <div class="task-container">
                <h4 class="task-title">Web Research</h4>
                <p class="task-desc"> Collecting information about foreign Universities,Courses, Requirements etc. and input into a Google Sheet</p>
            </div>
        </div>
    </div>
</section><!-- Recently Completed Tasks code ends here -->
