<header>
			<div class="jumbotron">
				<div class="container">
					<div class="row">
                      <div class="col-lg-12 text-center">
	                        <h2 class="section-heading">HOW TASKLANCE WORKS</h2>
                          <h3 class="section-subheading text-muted" style="padding-bottom: 20px;">TaskLance is the technology platform  that connect freelancers with companies looking to outsource work-from-home hourly jobs. </h3>
                          <p class="section-subheading text-muted" style="padding-bottom: 20px;">&nbsp;</p>
                        </div>
	                </div>
	                <div class="row text-center">
	                    <div class="col-md-3 thumbnail">
	                        <span class="fa-stack fa-4x">
	                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
	                            <i class="fa fa-clipboard fa-stack-1x fa-inverse"></i>
	                        </span>
	                        <h4 class="service-heading">Post a Task</h4>
	                        <p class="text-muted">Our platform  connect you with available Tasklancers.</p>
	                    </div>
	                    <div class="col-md-3 thumbnail">
	                        <span class="fa-stack fa-4x">
	                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
	                            <i class="fa fa-user fa-stack-1x fa-inverse"></i>
	                        </span>
	                        <h4 class="service-heading">Select a Tasklancer</h4>
	                        <p class="text-muted">Browse profiles, reviews and Select a Tasklancer.</p>
	                    </div>
	                    <div class="col-md-3 thumbnail">
	                        <span class="fa-stack fa-4x">
	                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
	                            <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
	                        </span>
	                        <h4 class="service-heading">Work</h4>
	                        <p class="text-muted">Chat/Call, share files and collaborate.</p>
	                    </div>
	                    <div class="col-md-3 thumbnail">
	                        <span class="fa-stack fa-4x">
	                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
	                            <i class="fa fa-money fa-stack-1x fa-inverse"></i>
	                        </span>
	                        <h4 class="service-heading">Pay</h4>
	                        <p class="text-muted">Only pay for the work you authorize.</p>
	                    </div>
	                </div>
	                <div class="row">
	                	
	                </div>
				</div>
			</div>
		</header>
        <!-- Header -->

        <!-- Second Navbar -->
<nav class="navbar navbar-default" id="subnav"></nav>

        

        <!-- clients Section -->
        <section id="clients" class="bg-light-gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h2 class="section-heading heading">For Clients</h2>
						<div class="col-lg-12 text-left">
                        <a ui-sref="post-task" class="btn btn-primary btn-lg">Post a Task</a>
                	    </div>
                        <p class=" text-muted em">You can browse the homepage, category or subcategory pages, or use the Post a task to connect a TaskLancer for the task in your hand. Once you find a receive choice of TaskLancers, view the TaskLancer rating and availability just proceed to checkout. You have several ways to pay for the service.</p>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <img src="/images/c.jpg" class="img-responsive" style="width:500%;">
                    </div>
                </div>
            </div>
        </section>
        <br>
        <BR>
        <br>

        <!-- Freelancer Section -->
        <section id="freelancer" class="bg-light-gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h2 class="section-heading heading">For Freelancers</h2>
                        <div class="col-lg-12 text-left">
                        <a ui-sref="taskerlogin" class="btn btn-primary btn-lg">Become a TaskLancer</a>
                        </div>
                        <p class="text-muted em">Only Registered and Screened freelancers will able to recive tasks through TaskLance. Post registeration, employability assesment will be done and if needed he will be enrolled for skill development programs. TaskLance accredits clients once an order is completed.</p>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <img src="/images/h.jpg" class="img-responsive" style="width:500%;">
                    </div>
                </div>
            </div>
        </section>

        <!-- How Pricing Works? -->
        <section id="How Pricing Works" class="bg-light-gray">
            <div class="container">
                <div class="row">
                        <h2 class="section-heading heading">How Pricing Works?</h2>
                        
                        <p class="text-muted em">Pricing for tasks are fixed on our platform. Task rates are non-negotiable and by submitting a Task, you are accepting listed rate. Our platform is <b>No Bidding platform</b>; so a quote or bidding cannot be directly provided for your task.
In order to find the various prices for Tasks, you will need to enter in the information for your task. It is important to indicate details such as the task category, task subcategory, so we can filter your task results to accurately display recommended TaskLancers.
Payment for your task is strictly through the TaskLance website.
If you have further questions regarding this, please do not hesitate to email us.</p>
                    </div>
                    
            </div>
        </section>

         <!-- When TaskLancers are Available? -->
        <section id="When TaskLancers are Available" class="bg-light-gray">
            <div class="container">
                <div class="row">
                        <h2 class="section-heading heading">When TaskLancers are Available?</h2>
                        
                        <p class="text-muted em">Mostly Recommended TaskLancers are available to respond immediately as we show only online freelancers. But if they are not online, you can do <b>“offline hiring”</b>.  Browse offline TaskLancers, you will still have the option to send a task invitation. When hiring a TaskLancers who is offline, you will be shown the amount of time that has elapsed since that TaskLancers was last online. The purpose of this is to give you an accurate idea of whether or not this TaskLancers is actively using the platform.
When booking a task for a future date, you will be asked to select date. 
Taskers are also known to coordinate "Off Hours" for early morning or late night tasks. To coordinate this, simply include these details in your description when booking your task. For example, include information such as "I'll need assistance from 6 p.m. - 11 p.m." so that it's clear when you need assistance. Your TaskLancers will then coordinate with you directly to confirm the details of your task!</p>
                    </div>
                </div>
            </div>
        </section>








        </section>
		<footer>


