<header>
			<div class="jumbotron">
				<div class="container">
					<div class="row">
	                    <div class="col-lg-12 text-center">
	                        <h2 class="section-heading">HOW TASKLANCE WORKS</h2>
	                        <h3 class="section-subheading text-muted" style="padding-bottom: 20px;">TaskLance is the marketplace for on Demand services that connect freelancers with companies looking to get the task done on immediate basis.</h3>
	                    </div>
	                </div>
	                <div class="row text-center">
	                    <div class="col-md-3 thumbnail">
	                        <span class="fa-stack fa-4x">
	                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
	                            <i class="fa fa-clipboard fa-stack-1x fa-inverse"></i>
	                        </span>
	                        <h4 class="service-heading">Post a Task</h4>
	                        <p class="text-muted">Post a Task.Our platform match & connect you with available Tasklancers.</p>
	                    </div>
	                    <div class="col-md-3 thumbnail">
	                        <span class="fa-stack fa-4x">
	                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
	                            <i class="fa fa-user fa-stack-1x fa-inverse"></i>
	                        </span>
	                        <h4 class="service-heading">Select a Tasklancer</h4>
	                        <p class="text-muted">Browse profiles, reviews and Select a Tasklancer and begin your Task.</p>
	                    </div>
	                    <div class="col-md-3 thumbnail">
	                        <span class="fa-stack fa-4x">
	                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
	                            <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
	                        </span>
	                        <h4 class="service-heading">Work</h4>
	                        <p class="text-muted">Chat/Call, share files, and collaborate from your desktop or on the go.</p>
	                    </div>
	                    <div class="col-md-3 thumbnail">
	                        <span class="fa-stack fa-4x">
	                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
	                            <i class="fa fa-money fa-stack-1x fa-inverse"></i>
	                        </span>
	                        <h4 class="service-heading">Pay</h4>
	                        <p class="text-muted">Invoice and Payments. Only pay for the work you authorize.</p>
	                    </div>
	                </div>
	                <div class="row">
	                	<div class="col-md-12 text-center bounce">
							<a ng-click="scrollTo('subnav')">	                	
	                			<i class="fa fa-angle-double-down fa-3x" aria-hidden="true"></i>
	                		</a>
	                	</div>
	                </div>
				</div>
			</div>
		</header>
        <!-- Header -->

        <!-- Second Navbar -->
        <nav class="navbar navbar-default" id="subnav">
			<div class="container">
				 <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="" id="">
                    <ul class="nav navbar-nav" id="submenu">
                        <li class="active">
                            <a class="page-scroll" href="#login.html">Signing Up</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#login.html">For Clients</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#register.html">For Tasklancers</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
			</div>
		</nav>

        <!-- Services Section -->
        <section id="signup">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading heading">Signing Up</h2>
                        <p class="text-muted em">Signing up to TaskLance is free and can be done here Only registered users may post and get on TaskLance. After successfully signing up, you shall want to check your registration email for the activation link provided in a welcome email.</p>
                    </div>
                </div>
                <div class="row">
                	<div class="col-lg-12 text-center">
                		<button class="btn btn-primary btn-lg">Sign up now!</button>
                	</div>
                </div>
            </div>
        </section>

        <!-- clients Section -->
        <section id="clients" class="bg-light-gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h2 class="section-heading heading">For Clients</h2>
                        <p class=" text-muted em">You can browse the homepage, category or subcategory pages, or use the Post a task to connect a TaskLancer for the task in your hand. Once you find a receive choice of TaskLancers, view the TaskLancer rating and availability just proceed to checkout. You have several ways to pay for the service.</p>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <img src="/images/c.jpg" class="img-responsive" style="width:70%;">
                    </div>
                </div>
            </div>
        </section>

        <section id="tasklancers" class="bg-light-gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6" style="float:right;">
                        <h2 class="section-heading heading">For TaskLancers</h2>
                        <p class="text-muted em">Clients pay TaskLance for tasks in advance. TaskLancer keep 90% of each task they get and successfully deliver. For example, you get a Task of estimate 5000 and successfully deliver, accredits your account with a net revenue of 4500. TaskLance accredits clients once an order is completed.</p>
                    </div>
                	<div class="col-lg-6 col-sm-12" style="float:left;">
                        <img src="/images/h.jpg" class="img-responsive" style="width:70%;">
                    </div>
                </div>
            </div>
        </section>
		<footer>
