<meta name="description" content="The #1 marketplace for on demand hourly part time job like  
Graphics Design, Web Design, Customer Support,Data Entry and DTP related tasks" />
<meta name="keywords" content="Empowerment of differently-abled" />
<meta property="fb:app_id" content="51230776953" />
<meta property="og:url" content="https://tasklance.com/" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="tasklance" />

<ul class="nav navbar-nav">
    <li><a ui-sref="post-task" ui-sref-active="active" class="post-task-text">Post a Task</a></li>
	
<!--    <li><a ui-sref="browse-task" ui-sref-active="active">Browse Tasks</a></li> --> 
   <li><a ui-sref="taskerlogin" ui-sref-active="active">Become a Freelancer</a></li> 
   <li><a ui-sref="why-tasklance" ui-sref-active="active">Why TaskLance</a></li>
<!--    <li><a ui-sref="how-it-works" ui-sref-active="active">How It Works</a></li> -->
<!-- <li><a ui-sref="browse-jobs" ui-sref-active="active">Browse Tasks</a></li>  -- >
 <!-- <li><a href="http://blog.tasklance.com" target="_blank">Blog</a></li>
    <li><a ui-sref="csr-services" ui-sref-active="active">CSR Services</a></li>  -->

</ul>
<ul check-login class="nav navbar-nav login-register-text">
    <li><a ui-sref="login" ui-sref-active="active">Login</a></li>
    <li class="sep">|</li>
    <li><a ui-sref="taskerLogin" ui-sref-active="active">Register</a></li>
</ul>

