<header>
			<div class="jumbotron">
				<div class="container">
					<div class="row">
                      <div class="col-lg-12 text-center">
	                        <h2 class="section-heading">WHY TASKLANCE</h2>
                          
                        </div>
	   
	   <h4 class="service-heading"><span class="text-muted">Differentiators </h4>

							One click and a skilled freelancer comes directly to you. . And when you get him, just relax.<br><br>
Designed to work with large organisations who need a simple, scalable way to manage their freelance workforce.
<br>

<br>Our algorithm match and assign task to Freelancers having skill set exactly Companies looking for.</p>
                    </div>

					<h4 class="service-heading"><span class="text-muted">Business Model </h4>

To help businesses manage the increasing reliance on remote  skilled freelancers at scale.   <br><br> Each Freelancer should be able to work where and when they want.
<br><br>
People with  a resource of abilities get access to a skilled job without needing to migrate.
</p>
                    </div>
					
             <!--        <div class="col-lg-6 col-sm-12">
                        <img src="/images/DisabledAlgorithm.png" class="img-responsive" style="width:70%;">
                    </div>  -->
                    <div><a ui-s

                </div>
            </div>

                         </div>


        

	                
			</div>
			<br><br><br>


        

	                <div class="row text-center">
	                    <div class="col-md-3 thumbnail">
	                        <span class="fa-stack fa-4x">
	                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
	                            <i class="fa fa-clipboard fa-stack-1x fa-inverse"></i>
	                        </span>
	                        <h4 class="service-heading">Save Time</h4>
	                        <p class="text-muted">Post Job  and get response within hours vs. Days </p>
	                    </div>
	                    <div class="col-md-3 thumbnail">
	                        <span class="fa-stack fa-4x">
	                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
	                            <i class="fa fa-money fa-stack-1x fa-inverse"></i>
	                        </span>
	                        <h4 class="service-heading">No Upfront Cost</h4>
	                        <p class="text-muted">Only pay when Task is completed.</p>
	                    </div>
	                    <div class="col-md-3 thumbnail">
	                        <span class="fa-stack fa-4x">
	                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
	                            <i class="fa fa-user fa-stack-1x fa-inverse"></i>
	                        </span>
	                        <h4 class="service-heading">Remove Anxiety</h4>
	                        <p class="text-muted">No Waiting No Bidding Platform</p>
	                    </div>
	                    <div class="col-md-3 thumbnail">
	                        <span class="fa-stack fa-4x">
	                            <i class="fa fa-laptop fa-stack-2x text-primary"></i>
	                            <i class="fa fa-money fa-stack-1x fa-inverse"></i>
	                        </span>
	                        <h4 class="service-heading">A Good Business Practice</h4>
	                        <p class="text-muted">Increases <br>Workforce Morale.</p>
	                    </div>
	                </div>
				</div>
			</div>
		</header>
        <!-- Header -->

        
		<footer>
